/* globals.css lub styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  @apply font-sans text-base leading-relaxed overflow-x-hidden m-0 transition-colors duration-300 ease-in-out;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
