@import url(../base/_variables.css);

button {
	background-color: transparent;
	color: var(--color-text-primary-dark);
	padding: 0.5rem 1rem;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease, opacity 0.3s ease;
	font-family: var(--font-text-primary);
}

/* HEADER CONTACT */

.contact-button {
	border: 2px solid var(--color-accent-blue);
	color: var(--color-text-primary-dark);
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	transition: transform 0.3s ease;
}

.contact-button i {
	font-size: 1rem;
}

.animated-arrow {
	margin-left: 15px;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	color: var(--color-text-primary-dark);
}

.contact-button:hover .animated-arrow {
	transform: translateX(5px);
}

.contact-button:hover {
	background-color: transparent;
	transform: translateX(3px);
}

/* HERO BUTTON */

.hero-button-wrapper {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	width: auto;
}

/* SCROLL ARROW */

.hero-scroll-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	color: var(--color-text-primary-dark);
	font-size: 2rem;
	text-decoration: none;
	transition: all 0.3s ease;
	animation: bounce 2s infinite;
}

.hero-scroll-icon:hover {
	transform: translateY(5px);
	animation: none;
}

/* CONTROLS BUTTON */

.theme-switcher-slider {
  padding: 0;
  width: 50px;
  height: 120px;
  background-color: #333;
  border-radius: 25px;
  border: none;
  position: fixed;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.slider-handle {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: top 0.3s ease;
}


.slider-handle .fa-solid {
  font-size: 20px;
  position: absolute;
  transition: opacity 0.3s ease;
}

.slider-handle .dark-icon {
  color: #333;
  opacity: 1;
}

.slider-handle .light-icon {
  color: #f7d04d;
  opacity: 0;
}

.slider-text {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  transform-origin: center;
  user-select: none;
  pointer-events: none;
  transform: translateX(-50%) rotate(-90deg);
  left: 50%;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.top-text {
  top: 25px;
  color: #eee;
  opacity: 1;
}

.bottom-text {
  bottom: 25px;
  color: #555;
  opacity: 0;
}

body[data-theme='light'] .theme-switcher-slider {
  background-color: #eee;
}

body[data-theme='light'] .theme-switcher-slider .slider-handle {
  top: 10px;
}

body[data-theme='light'] .theme-switcher-slider .slider-handle .dark-icon {
  opacity: 0;
}

body[data-theme='light'] .theme-switcher-slider .slider-handle .light-icon {
  opacity: 1;
}

body[data-theme='light'] .top-text {
  color: #555;
  opacity: 0;
}

body[data-theme='light'] .bottom-text {
  color: #333;
  opacity: 1;/
}

.lang-toggle-button {
  position: fixed;
  bottom: 0%;
  right: 5%;
  z-index: 1000;
  background-color: var(--color-accent-blue);
  color: var(--color-text-primary-dark);
  padding: 10px 15px;
  border-radius: 0;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.lang-toggle-button:hover {
  background-color: var(--color-accent-blue-hover);
}

@media (max-width: 1350px) {
.theme-switcher-slider {
  position: fixed;
  top: 85%;
  left: 0;
  transform: rotate(90deg);
  transform-origin: bottom right;
}

.theme-switcher-slider i{
	transform: rotate(-90deg);
}
}

@media (max-width: 768px) {
  .theme-switcher-slider {
    display: none;
  }
}