	.hero-image-container{
    background-image: url('/images/dark/backgrounds/hero-img-dark.png');
}

body[data-theme='light'] .hero-image-container {
	background-image: url('/images/light/backgrounds/hero-img-light.png');
}

.roadmap-item:hover .roadmap-dot {
	animation: float 1s ease-in-out infinite;
}

.roadmap-image__first {
	background-image: url('/images/light/roadmap-strategy.svg');
}

body[data-theme='light'] .roadmap-image__first {
	background-image: url('/images/light/roadmap-strategy.svg');
}

.roadmap-image__second {
	background-image: url('/images/light/roadmap-ux.svg');
}

body[data-theme='light'] .roadmap-image__second {
	background-image: url('/images/light/roadmap-ux.svg');
}

.roadmap-image__third {
	background-image: url('/images/light/roadmap-project.svg');
}

body[data-theme='light'] .roadmap-image__third {
	background-image: url('/images/light/roadmap-project.svg');
}

.roadmap-image__fourth {
	background-image: url('/images/light/roadmap-develop.svg');
}

body[data-theme='light'] .roadmap-image__fourth {
	background-image: url('/images/light/roadmap-develop.svg');
}

.roadmap-image__fifth {
	background-image: url('/images/light/roadmap-support.svg');
}

body[data-theme='light'] .roadmap-image__fifth {
	background-image: url('/images/light/roadmap-support.svg');
}